<!DOCTYPE html>
<!-- <npdc:search-input feed="feed"></npdc:search-input>  -->
<!-- <npdc:search feed="feed"></npdc:search> -->
<!doctype html>

<body>
<div ng-controller="ApistatSearchController">
<form id="submit" ng-submit="submit()">
  <h1>API generated statistics</h1>
   Select schema(s): <!-- <input ng-model="schema2"> -->
   <select id="schema2" ng-model="schema2" multiple>
        <option id="selectedS" ng-repeat="itemS in keysS" value="{{itemS}}">{{itemS}}</option>
   </select>

   <input type="submit" id="submit" value="Fetch schema(s)" />
   <br />
   <br />
</form>
<form id="submit_vars" ng-submit="submit_vars()">
   <label for="vars">Select variables: </label>
   <select id="vars" ng-model="vars" multiple>
        <option id="selected" ng-repeat="item in keys" value="{{item}}">{{item}}</option>
      </select><br /><br />
      <label for="varsV">Select visualisation: </label>
   <select id="varsV" ng-model="varsV" multiple>
        <option id="selectedV" ng-repeat="itemV in keysV" value="{{itemV}}">{{itemV}}</option>
   </select><br /><br />

      <br /><br />
        <input type="submit" id="submit_vars" value="Fetch parameters" />


    <h2>Results {{vars}}</h2>
  <div id="chart" class="chart"></div>

</form>
</div>





</body>

</html>
